body {
	font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 72px;
	-webkit-font-smoothing: antialiased;
	color: #333;
	line-height: 1.5em;
	font-size: 30px;
}

.control {
	font-size: 30px;
	margin: 10px;
}

.small {
	width: 200px;
}

.big {
	width: 100%;
}